\:root
  --dark: #374151
  --darker: #1F2937
  --darkest: #111827
  --grey: #6B7280
  --pink: #EC4899
  --purple: #8B5CF6
  --light: #EEE

*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Fira sans', sans-serif
  list-style: none

main
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

nav
  width: 100%

body
  display: flex
  flex-direction: column
  min-height: 100vh
  background: white
  color: var(--darkest)
  padding: 1rem
  overflow: auto

p
  margin: 0
  color: var(--darkest)

a
  color: var(--light)
  text-decoration: none
  cursor: pointer

button, #home_button
  cursor: pointer

#root
  display: flex
  flex-direction: column
  gap: 2rem
  padding: 2.5rem 1rem
  width: 100%

.navbar
  display: flex
  flex-direction: column
  gap: 1rem
  padding: 0 3rem

.navbar_actions
  display: flex
  justify-content: space-between
  align-items: center

.button_actions
  color: var(--darker)
  border: none
  outline: none
  background-color: var(--darker)
  color: var(--light)
  padding: 0.5rem 1rem
  border-radius: 8rem

.navbar_actions_posts
  display: flex
  flex-direction: row
  gap: 1rem

.search_input
  color: var(--darker)
  border: none
  outline: none
  background-color: var(--darker)
  color: var(--light)
  padding: 0.5rem 1rem
  border-radius: 8rem

  &::placeholder
    color: var(--light)

.navbar_tags
  display: flex
  flex-direction: column
  gap: 2rem

.list_tags
  display: flex
  flex-direction: row
  column-gap: 1.5rem
  row-gap: 0.5rem
  flex-wrap: wrap
  padding: 0.25rem 0.5rem
  justify-content: space-evenly

.tags p
  color: var(--grey)

.posts_Restlist
  padding: 1rem 6rem
  display: flex
  flex-direction: column
  gap: 2rem

.post_card
  display: grid
  grid-template-columns: 1fr 200px
  grid-template-rows: 30px 40px 50px
  grid-column-gap: 3rem
  grid-row-gap: 0.5rem

  div
    padding: 0.5rem 0.5rem

.post_card_image
  grid-area: 1 / 2 / 4 / 3

  img
    width: 100%
    height: 100%
    object-fit: cover

.post_card_title
  grid-area: 1 / 1 / 2 / 2
  cursor: pointer

.post_card_body
  grid-area: 2 / 1 / 3 / 2

.post_card_tags
  grid-area: 3 / 1 / 4 / 2
  display: flex
  flex-direction: row
  gap: 0.5rem
  justify-content: space-between

.post_card_tags_container
  display: flex
  flex-direction: column
  gap: 0.3rem

.post_actions
  display: flex
  gap: 2rem
  text-decoration: none
  padding: 0.6rem 0.5rem
  cursor: pointer

.post_card_body p
  height: 36px
  line-height: 17px
  word-break: break-all
  display: -webkit-box
  -webkit-box-orient: vertical
  -moz-box-orient: vertical
  -ms-box-orient: vertical
  box-orient: vertical
  -webkit-line-clamp: 2
  -moz-line-clamp: 2
  -ms-line-clamp: 2
  line-clamp: 2
  overflow: hidden
  font-size: 16.5px

.post_tags_list
  display: flex
  gap: 0.5rem

.post_tag p, .post_detail_tag p
  font-size: 12.5px
  color: var(--light)

.post_tag, .post_detail_tag
  padding: 0.2rem 0.5rem
  border-radius: 1rem
  background-color: var(--grey)

.posts_Highlist
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: repeat(3, 1fr)
  grid-column-gap: 0px
  grid-row-gap: 0px
  gap: 0.5rem
  padding: 0 2rem

#task_0
  grid-area: 1 / 1 / 4 / 2

#task_1
  grid-area: 1 / 2 / 2 / 3

#task_2
  grid-area: 2 / 2 / 3 / 3

#task_3
  grid-area: 3 / 2 / 4 / 3

#task_4
  grid-area: 1 / 3 / 4 / 4

.post_highcard, .post_highcard_tags
  display: flex
  flex-direction: column
  gap: 0.5rem

.post_highcard div
  padding: 0.5rem 0.5rem

.card_1, .card_2, .card_3
  display: grid
  grid-template-columns: 180px 300px
  grid-template-rows: 50px 80px 50px
  grid-column-gap: 0px
  grid-row-gap: 0px

.card_1 .img_1, .card_2 .img_2, .card_3 .img_3
  grid-area: 1 / 1 / 4 / 2

.card_1 .title_1, .card_2 .title_2, .card_3 .title_3
  grid-area: 1 / 2 / 2 / 3

.card_1 .body_1, .card_2 .body_2, .card_3 .body_3
  grid-area: 2 / 2 / 3 / 3

.card_1 .tags_1, .card_2 .tags_2, .card_3 .tags_3
  grid-area: 3 / 2 / 4 / 3

.post_highcard_image img
  width: 100%
  height: 100%
  object-fit: cover

.img_0, .img_4
  width: 100%
  height: 200px

.img_0 img, .img_4 img
  width: 100%
  height: 100%
  object-fit: unset

.post_highcard_body p
  height: 69px
  line-height: 17px
  word-break: break-all
  display: -webkit-box
  -webkit-box-orient: vertical
  -moz-box-orient: vertical
  -ms-box-orient: vertical
  box-orient: vertical
  -webkit-line-clamp: 4
  -moz-line-clamp: 9
  -ms-line-clamp: 9
  line-clamp: 9
  overflow: hidden
  font-size: 12.5px

.create_section
  padding: 1rem

.post_form
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: 70px repeat(2, 1fr) 50px
  grid-column-gap: 0px
  grid-row-gap: 1rem

.post_form_image
  grid-area: 3 / 1 / 4 / 2
  display: flex
  flex-direction: column
  padding: 0.5rem 1rem
  gap: 1rem

  input
    width: 50%
    border-radius: 4rem
    padding: 0.25rem 0.6rem

.post_form_title
  grid-area: 1 / 1 / 2 / 3
  display: flex
  flex-direction: column
  padding: 0.5rem 1rem
  gap: 1rem

  input
    width: 50%
    border-radius: 4rem
    padding: 0.25rem 0.6rem

.post_form_body
  grid-area: 2 / 1 / 3 / 3
  display: flex
  flex-direction: column
  padding: 0.5rem 1rem
  gap: 1rem

#post_body
  max-width: 1270px
  height: 126px
  resize: unset
  padding: 0.5rem
  border-radius: 1rem
  padding: 0.6rem 1rem

.post_form_tags
  grid-area: 3 / 2 / 4 / 3
  padding: 0.5rem 1rem
  display: flex
  flex-direction: column
  gap: 1rem

.post_form_button
  grid-area: 4 / 1 / 5 / 3
  display: flex
  align-items: center
  justify-content: center

  button
    color: var(--darker)
    border: none
    outline: none
    background-color: var(--darker)
    color: var(--light)
    padding: 0.5rem 1rem
    border-radius: 8rem
    min-width: 15%
    font-size: 1.5rem

.tags_options
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
  gap: 0.5rem

.label_tags
  padding: 0.2rem 0.5rem
  border-radius: 1rem
  background-color: var(--grey)
  color: var(--light)
  cursor: pointer

.active_label_tag
  background-color: var(--pink)

.post_container
  display: flex
  flex-direction: column
  gap: 1rem

.post_detail_title
  display: flex
  align-items: center

.post_detail_image
  border-radius: 1rem

.post_detail_body
  padding: 1rem 0.5rem
  display: flex
  flex-direction: column
  gap: 1rem

  p
    text-align: justify
    overflow-wrap: break-word
    hyphens: auto

.post_detail_tags
  padding: 1rem 0.5rem
  display: flex
  flex-direction: column
  gap: 1rem

.post_detail_list_tags
  display: flex
  flex-direction: row
  gap: 1rem

.post_detail_image img
  width: 100%
  height: 100%
  border-radius: 1rem
  border: 1px solid var(--darkest)

.post_detail_title h1
  font-size: 2.5rem

@media only screen and (max-width: 420px)
  body
    padding: 1rem 0.25rem

  #root
    width: 325px
    padding: 2.5rem 0

  .navbar
    padding: 0 1rem

  .search_form
    width: 50%

  .posts_Highlist
    padding: 0
    width: 100%

  .post_highcard
    display: flex
    flex-direction: column
    gap: 0.5rem

  .list_tags
    display: flex
    flex-direction: row
    width: 100%

  .posts_Highlist
    display: flex
    flex-direction: column
    gap: 1rem

  .posts_Restlist
    padding: 0

  .post_card
    display: flex
    flex-direction: column
    gap: 0.5rem

  .post_actions
    justify-content: flex-end

  .post_card_body p
    height: 69px
    line-height: 17px
    word-break: break-all
    display: -webkit-box
    -webkit-box-orient: vertical
    -moz-box-orient: vertical
    -ms-box-orient: vertical
    box-orient: vertical
    -webkit-line-clamp: 4
    -moz-line-clamp: 9
    -ms-line-clamp: 9
    line-clamp: 9
    overflow: hidden
    font-size: 12.5px

  .post_card_tags
    flex-direction: column
    gap: 0

  .mediaquery_navbar_actions_posts
    display: flex
    flex-direction: column
    gap: 0.25rem
    align-items: flex-end

  .mediaquery_button_actions
    width: 40%

  .tags_options
    display: flex
    flex-wrap: wrap

  .post_form
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: 70px 1fr 70px 100px 50px
    grid-column-gap: 0px
    grid-row-gap: 1rem

  .post_form_image input
    width: 100%

  .post_form_title
    input
      width: 100%

      grid-area: 1 / 1 / 2 / 2

  .post_form_body
    grid-area: 2 / 1 / 3 / 2

  .post_form_tags
    grid-area: 4 / 1 / 5 / 2

  .post_form_button
    grid-area: 5 / 1 / 6 / 2
